<div class="container col-md-4">
    <h3 class="title">Cadastro de Usuario</h3>
  <form>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" name="name" placeholder="digite seu nome">
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="email" placeholder="digite seu e-mail">
    </div>

    <div class="mb-3">
      <label class="form-label">Telefone</label>
      <input type="text"  class="form-control" name="phone" placeholder="digite seu telefone">
    </div>
    
    <button (click)="salvar()" type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

<router-outlet></router-outlet>